.scale {
  transform: scale(1.5);
  align-self: center;
}

.burgerConstructor {
  width: 600px;
 
}
.wrapper {
  display: flex;
  
}
.recomendation {
  text-align: center;
  
}

.ordering {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 16px;
}

.sum {
  display: flex;
  gap: 9.5px;
  margin-left: auto;
}

.constructorList {
  list-style-type: none;
  padding: 0;
  margin: 0 0 40px;
  padding: 0 8px 0 16px;
}

.scrollBarWrapper {
  height: 440px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.noScrollBar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.scrollBarWrapper::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

.scrollBarWrapper::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
