.container {
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
 }

 .checkbox {
    background: url(../../images/graphics.svg);
    width: 120px;
    height: 120px;
    background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

 }