.price {
  display: flex;
  justify-content: center;
}

.ingredientItem {
  position: relative;
  text-decoration: none;
  color: white;
  height: 208px;
  display: flex;
  flex-direction: column;
  cursor: grab;
}

.name {
  text-align: center;
  min-height: 48px;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
