.container {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.title {
    width: 100%;
    text-align: left;
    margin: 0;
  }

  .bloksContainer {
    display: flex;
    
  }