.wrapperRoute {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.routeStyle {
  width: 640px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.status {
  color: #00cccc;
  height: 34px;
  display: flex;
  align-items: center;
}

.scrollWrapper {
  margin: 24px 0 48px;
  max-height: 366px;
  overflow-y: scroll;
  width: 632px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.scrollWrapper::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
  height: 192px;
}

.scrollWrapper::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.ingredients {
    display: flex;
    flex-direction: column;
    width: 608px;
    list-style-type: none;
    padding: 0;
    margin: 4px 0;
    gap: 16px;
    /* height: 300px; */
  }
.number {
  align-self: center;
  height: 64px;
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  background: linear-gradient(#000000, #000000) padding-box,
    linear-gradient(63.18deg, #801ab2, #4c4cff) border-box;
  border-radius: 50%;
  border: 2px solid transparent;
}

.ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  height: 64px;
}
.name {
  width: 320px;
}
.priceContainer {
  display: flex;
  gap: 8px;
  width: 192px;
  justify-content: end;
}

.footer {
    display: flex;
    justify-content: space-between;
}