.wrapperRoute {
  margin-top: 120px;
  display: flex;
  
}

.routeStyle {
  width: 640px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
}

.number {
  align-self: center;
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
}




