.routeStyle {
    margin-top: 120px;
    display: flex;
   flex-direction: column;
   align-items: center;
}

.title {
    width: 640px;
    margin: 0;
    text-align: center;
  }

.container {
   
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.energyValue {
display: grid;
grid-template-columns: 120px repeat(3, 112px);
grid-template-rows: repeat(2, 1fr);
column-gap: 20px;
row-gap: 8px;

}

.textCenter {
    text-align: center;
}