.header {
  max-width: 1920px;
  margin: 0 auto;
  
}


.header__wrapper {
  display: flex;
  
  padding-left: 320px;
  padding-right: 320px;
  
  background: #1C1C21;
  align-items: center;
  justify-content: space-between;
}

.navList {
  display: flex;
  padding-right: 112px;
  
}

.header__navItem {
  display: flex;
  
}


.header__account {
  display: flex;
  padding-left: 270px;
}
