.header {
  background: #1c1c21;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  align-items: center;
  justify-items: center;
}


.navList {
  display: flex;
  /* padding-right: 100px; */
  gap: 8px;
  justify-self: start;
}

.link {
  text-decoration: none;
  display: flex;
  cursor: pointer;
  color: #8585AD;
}

.account {
  display: flex;
  justify-self: end;
  cursor: pointer;
}
